Repository Whist-Team/Whist-Server, pull requests merged in 2022-07, with the labels that each got.

#281 ADD: mongodb 5.0 support
  .github/workflows/python-app.yml
Labels: dependencies, docker

#283 FIX: docker build / start
  .dockerignore
  Dockerfile
  docker-compose.yml
Labels: bug, docker

#285 FIX. pkg info in docker build
  .dockerignore
  Dockerfile
Labels: bug, docker

#286 UPDATE: limit leaderboard queries
  tests/whist/server/api/ranking/test_leaderboard.py
  tests/whist/server/services/test_ranking_service.py
  whist/server/api/ranking/leaderboard.py
  whist/server/services/ranking_service.py
Labels: enhancement

#305 Use setup-poetry action in other repo
  .github/actions/setup-poetry/action.yml
  .github/workflows/lint.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-publish.yml
Labels: CI, github_actions

#306 ADD: test for duplicate creation
  tests/whist_server/api/user/test_create.py
  whist_server/api/user/create.py
Labels: bug

#308 FIX: fail fast
  .github/workflows/python-ci.yml
Labels: bug, CI, github_actions

#309 ADD: integration Test marker
  pyproject.toml
Labels: tests

#310 Use setup-poetry@v2
  .github/workflows/lint.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-publish.yml
Labels: CI

#315 REMOVE: arch from tag
  docker-compose.yml
Labels: docker

#318 UPDATE: test cov logic
  .github/workflows/python-ci.yml
Labels: CI, github_actions

#320 FIX: room naming in test
  tests/whist_server/database/test_room.py
Labels: tests

#322 BUMP: whist core from 0.3.0 -> 0.4.0
  poetry.lock
  pyproject.toml
Labels: dependencies, python

#321 FEATURE: Room Info
  tests/whist_server/api/game/test_info.py
  tests/whist_server/database/test_room.py
  whist_server/api/room/info.py
  whist_server/database/room.py
Labels: enhancement
